.Configuracoes{
    display: none;
    background-color: rgb(42, 109, 97);
    height: 1000px;
    padding-left: 10px;
}

.txt_cor{
    margin-block-start: 0;
    padding-top: 20px;
}

.div_cor{
    height: 10px;
    width: 10px;
}
.ipt_cor{
    float: left;
    position: absolute;
}
.cor_page{
    height: 300px;
}
.txt_graf{
    margin-left: 20px;
}