body{
    height: 800px;
}
@keiframes anm_corpo{
    0%{
        margin-top: 0px;
        opacity: 0%;
    }

    100%{
        margin-top: 130px;
        opacity: 100%;
    }
}
.div_corpo{
    margin: 30%;
    height: 600px;
    width: 500px;
    border-radius: 10%;
    background-color: rgb(22,59,52);
    display: flex;
    margin-top: 130px;
    margin-bottom: 0;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    box-shadow: 9999999px 9999999px 9999999px rgb(0, 0,8);
    animation-name: anm_corpo;
    animation-duration: 5s;
}
.div_conteudo{
    margin:13%;
    line-break: auto;
    color: rgb(6, 153, 146);
    text-shadow: 1px 1px black;
}

.div_ipts{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
}

.ipt{
    height: 30px;
    width: 350px;
    border-radius: 5%;
    border: 3px solid black;
}

.img_logo{
    width: 25%;
    margin-bottom: 20px;
    margin-left: 130px;
}
.div_btns{
    margin-left: 60px;
}
.btn_ent{
    margin-left: 90px;
}
.btn_cad{
    margin-left: 90px;
}

.pergunta{
    margin-left: 50px;
}

.btn{
    border-radius: 10%;
    border: 3px solid black;
    width: 30%;
    margin-left: 125px;
    margin-top: 20px;
    background-color: rgb(6, 153, 146);
    cursor: pointer;
}

.txt_prf{
    font-size: 100%;
}
.navbar{
    background-color: rgb(22,59,52);
    border-bottom: 7px solid black;
    position: absolute;
    width: 100%;
    color:white;
}

.rodape{
    background-color: rgb(11,61,50);
    color: rgba(255,255,255,.5);
    height: 50px;
    line-height: 3;
    position: sticky;
    width: 1000px;
}
.copyright{
    margin-left: 20px;
}

.logo{
    width: 30%;
    float: left;
    margin-left: 50px;
}
.navbar-brand{
    animation-duration: 5s;
    animation-name: anm_logo;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 40%;
    color: white;
}

.txt_logo{
    margin-top: 33px; 
    animation-name: anm_titulo;
    animation-duration: 1.5s;
    font-size: 160%;
}

.container{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.collapse{
    width: 400px;
    padding:0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 200px;
    box-sizing: border-box;
    flex-basis: auto;
    display: flex!important;
}
.home{
    color:rgba(255,255,255,.5);
    float: left;
}
.simulador{
    color: rgba(255,255,255,.5);
    animation-name:anm_palavra_simulador;
    animation-duration: 3s;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.nav-item{
    height: 30px;
    width: 400px
}

li{
    box-sizing: border-box;
    display: list-item;
    text-align: -webkit-match-parent;
}
.navbar-nav{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto!important;
    display: -webkit-box!important;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    box-sizing: border-box;
    height: 30px;
    width: 400px;
}

.nav-link{
    list-style: none;
    text-align: -webkit-match-parent;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    box-sizing: border-box;
    text-decoration: none;
    animation-name:anm_palavras;
    animation-duration: 3s;
}
.informacoes{
    color: white;
    animation-name:anm_palavra_informacoes;
    animation-duration: 3s;
}
@keyframes anm_palavras{
    0% {
        opacity: 0%;
    }
    100%{
       opacity: 100%;
    }
}
@keyframes anm_palavra_informacoes{
    0% {
        opacity: 0%;
    }
    100%{
       opacity: 100%;
    }
}

@keyframes anm_titulo{
    0%{
        color:rgba(255,255,255,.5);
    }
    5%{
        color:rgb(22,59,52);
    }
    10%{
        color:rgba(255,255,255,.5);
    }
    15%{
        color:rgb(22,59,52);
    }
    20%{
        color:rgba(255,255,255,.5);
    }
    30%{
        color:rgb(22,59,52);
    }
    100%{
        color:white;
    }
}
body{
    background-color: rgb(44, 71, 68);
}
.conteudo{
    margin-left: 90px;
    background-color: rgb(6, 153, 146);
    margin-right: 70px;
    padding-bottom: 80px;
    background-image: linear-gradient(rgb(6, 153, 146),white);
    border-left: 7px solid black;
    border-right: 7px solid black;
    margin-top: 0px;
    padding-top: 150px;
}

.txts{
    margin-left: 80px;
    font-size: 130%;
}
.txts span{
    color: rgb(19, 63, 61);
}
.rodape{
    background-color: rgb(11,61,50);
    color: rgba(255,255,255,.5);
    height: 50px;
    line-height: 3;
    width: 100%;
}